<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="logo.png" />
    <meta name="author" content="CodePixar" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta charset="UTF-8" />
    <title>ST Shop</title>

    <link rel="stylesheet" href="css/linearicons.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/nice-select.css" />
    <link rel="stylesheet" href="css/nouislider.min.css" />
    <link rel="stylesheet" href="css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />

    <style>
      .cart-image {
        max-width: 150px; /* Adjust as needed */
        height: auto;
      }
      .quantity-btn {
        width: 40px;
        height: 40px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
      }
      .quantity-btn:hover {
        background-color: #007bff;
        color: white;
      }
      .increase {
        border-color: #28a745;
      }
      .increase:hover {
        background-color: #28a745;
        color: white;
      }
      .decrease {
        border-color: #dc3545;
      }
      .decrease:hover {
        background-color: #dc3545;
        color: white;
      }
      @media (max-width: 768px) {
        .cart-image {
          max-width: 100px;
        }
        .quantity-btn {
          width: 30px;
          height: 30px;
        }
        .quantity-btn i {
          font-size: 14px;
        }
      }
    </style>
  </head>
  <body>
    <!-- Start Header Area -->
    <%- include('partials/header') %>
    <!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
      <div class="container">
        <div
          class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
        >
          <div class="col-first">
            <h1>Shopping Cart</h1>
            <nav class="d-flex align-items-center">
              <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
              <a href="/cart">Cart</a>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
      <div class="container">
        <div class="cart_inner">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                  <th scope="col">Size</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <% cartProducts.forEach((product,index) => { %>
                <tr>
                  <td>
                    <div class="media">
                      <div class="d-flex">
                        <a href="/singleprodect/<%= product.productId._id %>">
                          <img
                            class="img-fluid cart-image"
                            src="<%= product.productId.images[0].replace('public', '') %>"
                            alt="<%= product.productId.name %>"
                          />
                        </a>
                      </div>
                      <div class="media-body">
                        <p><%= product.productId.name %></p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h5>₹<%= product.productId.price %></h5>
                  </td>
                  <td>
                    <div class="product_count">
                      <input
                        type="text"
                        name="qty"
                        id="sst-<%= index %>"
                        maxlength="12"
                        value="<%= product.quantity %>"
                        title="Quantity:"
                        class="input-text qty"
                        readonly
                        data-price-per-unit="<%= product.productId.price %>"
                      />
                      <button
                        onclick="updateQuantity('<%= product.productId._id %>', 'increase', '<%=index%>')"
                        class="btn btn-outline-primary btn-sm quantity-btn increase"
                        type="button"
                        aria-label="Increase Quantity"
                        style="top: 25px"
                      >
                        <i class="lnr lnr-chevron-up"></i>
                      </button>
                      <button
                        onclick="updateQuantity('<%= product.productId._id %>', 'decrease', '<%=index%>')"
                        class="btn btn-outline-secondary btn-sm quantity-btn decrease"
                        type="button"
                        aria-label="Decrease Quantity"
                        style="top: -45px"
                      >
                        <i class="lnr lnr-chevron-down"></i>
                      </button>
                    </div>
                  </td>
                  <td class="total-price">
                    ₹<%= product.productId.price * product.quantity %>
                  </td>
                  <td>
                    <%= console.log(product) %>
                    <p id="display-size-<%= index %>">
                      <%= product.isSizeAvailable === false ? "Out of Stock" :
                      product.size %>
                    </p>
                  </td>
                  <td>
                    <button
                      class="btn btn-danger remove-cart-btn"
                      data-id="<%= product.productId._id %>"
                    >
                      Remove
                    </button>
                  </td>
                </tr>
                <% }); %>

                <tr class="bottom_button">
                  <td>
                    <a class="gray_btn" href="#">Update Cart</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td><h5>Subtotal</h5></td>
                  <td>
                    <h5 id="cartTotalAmount">
                      ₹<%= cartProducts.reduce((sum, product) => sum +
                      (product.productId.price * product.quantity), 0) %>
                    </h5>
                  </td>
                  <td></td>
                </tr>

                <tr class="out_button_area">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="checkout_btn_inner d-flex align-items-center">
                      <a class="gray_btn" href="/">Continue Shopping</a>
                      <button
                        class="primary-btn"
                        onclick="proceedToCheckout(<%= JSON.stringify(cartProducts) %>)"
                      >
                        Proceed to Checkout
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <!-- start footer Area -->
    <%- include('partials/footer') %>
    <!-- End footer Area -->

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
      integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
      crossorigin="anonymous"
    ></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script>
      function proceedToCheckout(cartProducts) {
        const allSizesAvailable = cartProducts.every(
          (item) => item.isSizeAvailable
        );

        if (allSizesAvailable) {
          console.log(cartProducts);
          window.location.href = "/checkout";
        } else {
          showToast(
            "One or more items in your cart are out of stock. Please update your cart."
          );
        }
      }

      function updateQuantity(productId, action, index) {
        const qtyInput = document.getElementById("sst-" + index);
        let currentQty = parseInt(qtyInput.value);
        const sizeElement = document.getElementById(`display-size-${index}`);
        const size = sizeElement ? sizeElement.innerText : null;

        if (!size) {
          showToast("Please select size");
          return;
        }

        const MAX_QUANTITY = 3;

        if (action === "increase") {
          if (currentQty < MAX_QUANTITY) {
            currentQty++;
          } else {
            showToast("Maximum quantity is " + MAX_QUANTITY);
            return;
          }
        } else if (action === "decrease" && currentQty > 1) {
          currentQty--;
        } else {
          return;
        }

        qtyInput.value = currentQty;

        axios
          .post("/cart/update-quantity", {
            productId: productId,
            quantity: currentQty,
            size: size,
          })
          .then(function (response) {
            if (response.data.success) {
              const pricePerUnit = parseFloat(qtyInput.dataset.pricePerUnit);
              const totalCell = qtyInput
                .closest("tr")
                .querySelector(".total-price");

              totalCell.textContent =
                "₹" + (currentQty * pricePerUnit).toFixed(2);
              updateCartTotal();
            } else {
              showToast(response.data.message);
              qtyInput.value = currentQty - (action === "increase" ? 1 : -1);
            }
          })
          .catch(function (error) {
            showToast("Requested quantity exceeds available stock !");
            console.error("Error updating quantity:", error);
            qtyInput.value = currentQty - (action === "increase" ? 1 : -1);
          });
      }
      function updateCartTotal() {
        let totalAmount = 0;
        document.querySelectorAll(".total-price").forEach((totalCell) => {
          const totalPrice = parseFloat(totalCell.textContent.replace("₹", ""));
          totalAmount += totalPrice;
        });

        document.getElementById("cartTotalAmount").textContent =
          "₹" + totalAmount.toFixed(2);
      }

      function showToast(message) {
        Toastify({
          text: message,
          duration: 2000,
          gravity: "top",
          position: "right",
          backgroundColor: "#333",
          stopOnFocus: true,
        }).showToast();
      }
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const removeCartButtons = document.querySelectorAll(".remove-cart-btn");

        removeCartButtons.forEach(function (button) {
          button.addEventListener("click", function (event) {
            event.preventDefault();

            const productId = button.getAttribute("data-id");

            confirmAction(
              "Are you sure?",
              "Do you want to remove this item from your cart?",
              "Yes, remove it"
            ).then((result) => {
              if (result.isConfirmed) {
                axios
                  .delete("/cart/remove/" + productId)
                  .then(function (response) {
                    const data = response.data;
                    if (data.success) {
                      const tableRow = button.closest("tr");
                      if (tableRow) {
                        tableRow.remove();
                      }
                      showToast(data.message);
                    }
                  })
                  .catch(function (error) {
                    console.error("Error removing item from cart:", error);
                    alert("Failed to remove item from cart.");
                  });
              }
            });
          });
        });
      });

      function confirmAction(title, text, confirmButtonText) {
        return Swal.fire({
          title: title,
          text: text,
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: confirmButtonText,
        });
      }
    </script>

    <script>
      function updateSize(productId) {
        const selectedSize = document.getElementById(`size-${productId}`).value;

        if (selectedSize) {
          axios
            .post(`/cart/updateSize/${productId}`, {
              size: selectedSize,
            })
            .then((response) => {
              if (response.data.success) {
                const sizeDisplayElement = document.getElementById(
                  `display-size-${productId}`
                );
                if (sizeDisplayElement) {
                  sizeDisplayElement.textContent = selectedSize;
                }
                window.location.reload();

                Toastify({
                  text: "Size updated successfully!",
                  duration: 3000,
                  close: true,
                  gravity: "top",
                  position: "right",
                  backgroundColor: "green",
                  stopOnFocus: true,
                }).showToast();
              } else {
                Toastify({
                  text: "Failed to update size!",
                  duration: 3000,
                  close: true,
                  gravity: "top",
                  position: "right",
                  backgroundColor: "red",
                  stopOnFocus: true,
                }).showToast();
              }
            })
            .catch((error) => {
              console.error("Error updating size:", error);

              Toastify({
                text: "Error updating size!",
                duration: 3000,
                close: true,
                gravity: "top",
                position: "right",
                backgroundColor: "red",
                stopOnFocus: true,
              }).showToast();
            });
        }
      }
    </script>
  </body>
</html>
