<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="shortcut icon" href="logo.png" />

    <meta name="author" content="CodePixar" />

    <meta name="description" content="" />

    <meta name="keywords" content="" />

    <meta charset="UTF-8" />

    <title>ST Shop</title>

    <link rel="stylesheet" href="/css/linearicons.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/themify-icons.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/owl.carousel.css" />
    <link rel="stylesheet" href="/css/nice-select.css" />
    <link rel="stylesheet" href="/css/nouislider.min.css" />
    <link rel="stylesheet" href="/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="/css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />
  </head>

  <body>
    <link rel="stylesheet" href="/user/css/checkout.css" />
    <!-- Start Header Area -->
    <%- include('partials/header') %>
    <!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
      <div class="container">
        <div
          class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
        >
          <div class="col-first">
            <h1>Checkout</h1>
            <nav class="d-flex align-items-center">
              <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
              <a href="/checkout">Checkout</a>
            </nav>
          </div>
        </div>
      </div>
    </section>
 
    <section class="checkout_area section_gap">
      <div class="container">
        <div class="cupon_area">
          <div class="coupon-container">
            <input
              type="text"
              id="couponCode"
              placeholder="Enter coupon code"
              class="form-control"
            />
            <button class="tp_btn btn" id="coupen-btn" onclick="applyCouponCode()">
              Apply Coupon
            </button>
            <div class="btn-group">
              <button class="tp_btn btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Available Coupons
              </button>
              <button class="tp_btn btn " type="button" onclick="removeCoupenHandler()">
                Remove coupen
              </button>
              <div class="dropdown-menu p-3 shadow-lg rounded">
                <% if (coupens.length > 0) { %>
                  <% coupens.forEach((coupen) => { %>
                    <div class="dropdown-item d-flex justify-content-between align-items-center">
                      <div>
                        <strong><%= coupen.name %></strong>
                        <br>
                        <small class="text-muted">Expires on: <%= coupen.endingDate.toDateString() %></small>
                       
                      </div>
                      
                    </div>
                    <br>
                    <span><%= coupen.code %></span>
                  <% }) %>
                <% } else { %>
                  <div class="dropdown-item text-muted">No available coupons</div>
                <% } %>
              </div>
              
            </div>
            
            
            <div id="couponMessage" class="mt-2"></div>
           
            
          </div>
        </div>
        <div class="billing_details">
          <div class="row">
            <div class="col-lg-8">
              <h3>Billing Details</h3>
              <!-- kaka -->

              <form>
                <% addresses.forEach((address, index) => { %>
                <div class="address-group mb-4">
                  <div
                    class="d-flex justify-content-between align-items-center mb-3"
                  >
                    <h6>Address <%= index + 1 %> (<%= address.type %>) <input
                      type="checkbox"
                      name="selectedAddresses"
                      id="check<%= index %>"
                      value="<%= index %>"
                    /></h6>

                    
                    <label for="check<%= index %>"></label>
                  </div>
                  <div class="row mb-3">
                    <div class="col-md-4">
                      <label for="streetAddress<%= index %>" class="form-label"
                        >Street Address</label
                      >
                      <input
                        type="text"
                        name="name"
                        class="form-control"
                        id="name<%= index %>"
                        placeholder="123 Main St"
                        value="<%= address.name %>"
                        required
                      />
                    </div>
                    <div class="col-md-4">
                      <label for="type<%= index %>" class="form-label"
                        >Type</label
                      >
                      <input
                        type="text"
                        name="type"
                        class="form-control"
                        id="type<%= index %>"
                        placeholder="Home"
                        value="<%= address.type %>"
                        required
                      />
                    </div>
                    <div class="col-md-4">
                      <label for="streetAddress<%= index %>" class="form-label"
                        >Street Address</label
                      >
                      <input
                        type="text"
                        name="streetAddress"
                        class="form-control"
                        id="streetAddress<%= index %>"
                        placeholder="123 Main St"
                        value="<%= address.streetAddress %>"
                        required
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-md-6">
                      <label for="city<%= index %>" class="form-label"
                        >City</label
                      >
                      <input
                        type="text"
                        name="city"
                        class="form-control"
                        id="city<%= index %>"
                        placeholder="City"
                        value="<%= address.city %>"
                        required
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="state" class="form-label"
                        >State/Province</label
                      >
                      <input
                        type="text"
                        name="state"
                        class="form-control"
                        id="state<%= index %>"
                        value="<%= address.state %>"
                        placeholder="state"
                        required
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="zip<%= index %>" class="form-label"
                        >Zip Code</label
                      >
                      <input
                        type="text"
                        name="zip"
                        class="form-control"
                        id="zip<%= index %>"
                        placeholder="Zip Code"
                        value="<%= address.postalCode %>"
                        required
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="country" class="form-label">Country</label>
                      <input
                        type="text"
                        name="country"
                        class="form-control"
                        id="country<%= index %>"
                        value="<%= address.country %>"
                        placeholder="United States"
                        required
                      />
                    </div>
                  </div>

                  <hr class="mt-4" />
                </div>
                <% }); %>
              </form>

              <!-- kakk kaynju -->
              <h2>New Address</h2>
              <form
                id="addressForm"
                onsubmit="return addAddress(event,'<%= user._id %>')"
              >
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="type" class="form-label">Name</label>
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="Name"
                      required
                    />
                  </div>
                  <div class="col-md-4">
                    <label for="type" class="form-label">Type</label>
                    <input
                      type="text"
                      name="type"
                      class="form-control"
                      id="type"
                      placeholder="Home"
                      required
                    />
                  </div>
                  <div class="col-md-4">
                    <label for="streetAddress" class="form-label"
                      >Street Address</label
                    >
                    <input
                      type="text"
                      name="streetAddress"
                      class="form-control"
                      id="streetAddress"
                      placeholder="123 Main St"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-4">
                    <label for="city" class="form-label">City</label>
                    <input
                      type="text"
                      name="city"
                      class="form-control"
                      id="city"
                      placeholder="Anytown"
                      required
                    />
                  </div>
                  <div class="col-md-4">
                    <label for="state" class="form-label">State/Province</label>
                    <input
                      type="text"
                      name="state"
                      class="form-control"
                      id="state"
                      placeholder="ST"
                      required
                    />
                  </div>
                  <div class="col-md-4">
                    <label for="postalCode" class="form-label"
                      >ZIP/Postal Code</label
                    >
                    <input
                      type="text"
                      name="postalCode"
                      class="form-control"
                      id="postalCode"
                      placeholder="12345"
                      required
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label for="country" class="form-label">Country</label>
                    <input
                      type="text"
                      name="country"
                      class="form-control"
                      id="country"
                      placeholder="United States"
                      required
                    />
                  </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">
                  Add Address
                </button>
              </form>
            </div>

            <div class="col-lg-4">
              <div class="order_box">
                <h2>Your Order</h2>
                <ul class="list">
                  <li>
                    <a href="#">Product <span>Total</span></a>
                  </li>
                  <% cartItems.forEach((item, index) => { %>

                  <input
                    id="productId-<%=index%>"
                    type="hidden"
                    value="<%= item.product. _id%>"
                  />
                  <li id="product-item-<%= index %>">
                    <a href="/singleprodect/<%= item.product. _id%>">
                      <strong id="product-name-<%= index %>"
                        ><%= item.product.name %>
                      </strong>
                      <strong class="ml-3" id="product-size-<%= index %>"
                        ><%= item.size %></strong
                      >
                      <span class="middle"
                        >x
                        <span id="product-quantity-<%= index %>"
                          ><%= item.quantity %></span
                        ></span
                      >
                      <span class="last" id="product-price-<%= index %>"
                        >₹<%= item.product.price * item.quantity %></span
                      >
                    </a>
                  </li>
                  <% }) %>
                </ul>

                <ul class="list list_2">
                  <li>
                    <a href="#"
                      >Subtotal
                      <span id="">
                        ₹<%= cartItems.reduce((total, item) => total +
                        (item.product.price * item.quantity), 0) %>
                      </span></a
                    >
                  </li>
                  <li>
                    <a href="#">Shipping <span>Flat rate: ₹50.00</span></a>
                  </li>
                  <li>
                    <a href="#">Discount <span id="discount">0%</span></a>
                  </li>
                  
                  <li>
                    <a href="#"
                      >Total
                      <span id="totalAmount">
                        ₹<%= cartItems.reduce((total, item) => total +
                        (item.product.price * item.quantity), 0) + 50 %>
                      </span></a
                    >
                  </li>
                </ul>
                <div class="payment_item">
                  <div class="radion_btn">
                    <button
                      class="primary-btn"
                      onclick="checkoutHandler(event,'<%=cartItems %>')"
                    >
                      Proceed to CASH ON DELIVERY
                    </button>
                  </div>
                  <p>
                    Please send a check to Store Name, Store Street, Store Town,
                    Store State / County, Store Postcode.
                  </p>
                </div>
                <div class="payment_item active">
                  <div class="radion_btn">
                    <input type="radio" id="f-option6" name="selector" />
                    <label for="f-option6">Online payment</label>
                    <img src="img/product/card.jpg" alt="" />
                    
                  </div>
                  
                </div>

                
                <span class="primary-btn" onclick="proceedToPayment()">Proceed to online</span>
                <span class="primary-btn" onclick="walletPayHandler()">Pay using wallet</span>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Checkout Area =================-->

    <!-- start footer Area -->
    <%- include('partials/footer') %>
    <!-- End footer Area -->

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
      integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
      crossorigin="anonymous"
    ></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/nouislider.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="js/gmaps.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

  </body>
  <script type="module" src="/user/js/checkout.js"></script>
</html>
