<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    
    <link rel="stylesheet" href="css/linearicons.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/nice-select.css" />
    <link rel="stylesheet" href="css/nouislider.min.css" />
    <link rel="stylesheet" href="css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/main.css" />
</head>
<style>
    .mt-5 {
        margin-top: 8rem !important;
    }
</style>
<body>
 
<%- include('partials/header') %> 

<div class="container mt-5">
    <h1>Your Wishlist</h1>
    <% if (wishlist.length > 0) { %>
        <ul class="list-group">
            <% wishlist.forEach(product => { %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="product-info d-flex align-items-center">
                        <img src="<%= product.images[0].replace('public', '') %>" alt="<%= product.name %>" class="img-thumbnail" style="width: 100px; height: auto; margin-right: 20px;">
                        <div>
                            <h5><%= product.name %></h5>
                            <p><%= product.description %></p>
                            <p>Price: $<%= product.price %></p>
                        </div>
                    </div>
                    <div class="actions">
                        <a href="/singleprodect/<%= product._id %>" class="btn btn-primary">View</a>
                        <a    onclick="addToCart(event,'<%= product._id %>')" class="btn btn-warning">Add to Cart</a>
                        <a href="/remove-from-wishlist/<%= product._id %>" class="btn btn-danger">Remove</a>
                    </div>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>Your wishlist is empty.</p>
    <% } %>
</div>

<%- include('partials/footer') %>

<script src="js/vendor/jquery-2.2.4.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
  integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
  crossorigin="anonymous"
></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/countdown.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>

<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="js/gmaps.min.js"></script>
<script src="js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<% if (typeof message !== undefined && message) { %>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function showToast(message) {
            Toastify({
                text: message,
                duration: 2000, 
                gravity: "top",
                position: "right", 
                backgroundColor: "#333", 
                stopOnFocus: true 
            }).showToast();
        }
        showToast('<%= message %>');
    });
</script>
<% } %>

<script>
    function addToCart(event,productId) {
        console.log('Adding product to cart');
        axios.get(`/addToCart/${productId}`)
        .then(function(response) {  
            if (response.data.success) {
                showToast(response.data.message);
                return updateCartQuantity();
            } else {
                if(response.data.message){
                    return showToast(response.data.message);
                } else {
                    window.location.href='/ShowLoginMsg';
                }
            }
        })
        .catch(function(error) {
            showToast('Please login :)');
            console.log(error);
        });
    }

    function showToast(message) {
        Toastify({
            text: message,
            duration: 2000,
            gravity: "top",
            position: "right",
            backgroundColor: "#333",
            stopOnFocus: true
        }).showToast();
    }

    function updateCartQuantity() {
        let currentCartQty = parseInt(document.getElementById('cart-quantity').innerText);
        document.getElementById('cart-quantity').innerText = currentCartQty + 1;
    }
</script>

</body>
</html>
